body {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Calibri;
  font-size: 24px;
}
.TitleSection {
  background-color: #6ea4bb;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e7e7e6;
}
.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5e98b1;
  font-size: 18px;
  padding-left: 10px;
  box-shadow: 2px 2px 5px 1px #464646;
  
}
.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #f0dba5;
  background-color: #006cbf;
  box-shadow: 2px 2px 5px 1px #464646;
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection {
  background-color: #c04c4b;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0dba5;
  padding: 10px;
}

.SecondSection {
  background-color: #f0dba5;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  color: #464646;
  border-radius: 6px;
}

.ButtonSearch {
  box-shadow: 2px 2px 5px 1px #464646;
  width: 180px;
  height: auto;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #f0dba5;
  background-color: #006cbf
}